@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #7e35bd;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  margin-left: 50px;
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

button.white2{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}


body {
  width: 100%;
}


/* HEADER STAR */
nav{
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 100px;
    line-height: 100px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
}

.abajo__nav{
  background: rgba(72, 25, 113, 0.8);
}

body {
    background: url(../fondo/Fondo_Pg.png);
    
}

/* fondo de la barra de nav*/
nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*aliniacion*/
    background: url(../Imagenes/logo_1.png) no-repeat;
    background-size: 40px 50px;
    background-position: 50px 20px;
}

.wrapper .logo a{
    color:481971;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
}

.wrapper .nav-links{
    display: inline-flex;
}

.nav-links li{
    margin-left: 50px;
    list-style: none;
}

/*elemenos de nav */
.nav-links li a{
    color: #481971;
    
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    color: #f2f2f2;
    background: #481971;
}

/*barra grande para*/
.mega-box{
    position: absolute;
    top: 65px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .mega-box {
    top:100px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    
}

.mega-box .content{
    background: #fff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}

.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* titulo*/
.content .row header{
    color: #481971;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;

}

.content .row .mega-links{
    margin-left: -40px;
    border-left: 2px solid rgba(48, 36, 126, 0.81);
}

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}

.row .mega-links li{
    padding: 0 20px;
}

.row .mega-links li a{
    padding: 0 20px;
    color: #7e35bd;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover{
    color: #f2f2f2;
}


header .abajo{
  background: rgba(72, 25, 113, 0.8);
  padding: 0;
}

header.abajo .logo,
header.abajo ul li a{
    color: #fff;
    
}

/* EL SLIDER */


#hero{
  background-image: url("img/hero4.png");
  background-size:cover ;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
  padding: 50px 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  animation: animate 20s infinite;
}

@keyframes animate{
  20%{
      background: url(/img/slider/bg1.jpg);
      background-size: cover;
  }
  40%{
      background: url(/img/slider/bg2.jpg);
      background-size: cover;
  }
  60%{
      background: url(/img/slider/bg3.jpg);
      background-size: cover;
  }
  80%{
      background: url(/img/slider/bg4.jpg);
      background-size: cover;
  }
  
}

#hero h4{
  padding-bottom: 15px;
}

#hero h4,
#hero h2, 
#hero h1,
#hero p {
  color: #fff;
}

#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 14px 88px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 15px;
}


/* EL SLIDER */

/* FICHAS */
#feature{
  text-align: center;
}


.wrapped{
  margin-top: 15vh;
  margin-left: 0%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.card{
  width: 380px;
  height: 360px;
  padding: 1rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover{
  transform: translateY(20px);
}

.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0), rgba(72, 25, 113, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  
}

.card .info h1,
.card .info p {
  text-align: justify;
}

.card .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1{
  color: #fff;
  margin: 0;
}

.card .info p{
  color: #fff;

  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background:#fff ;
  color: #481971;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
  color: #fff;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* FICHAS */


/* productos */
#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}


#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 3px solid #481971;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243,181,25);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #7e35bd;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f5e8f6;
  font-weight: 500;
  color: #7e35bd;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* productos */

/* BANNER */

#banner{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  color:#fff;
  font-size: 16px;
}

#banner h2{
  color:#fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color:#ef3636;
}

#banner button:hover{
  background: #481971;
  color:#fff;
}

/* BANNER */

/* PARTE DE OTRAS PÁGINAS */

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  background: url(img/banner/b17.jpg);
  min-width: 645px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#sm-banner .banner-box2{
  background: url(img/banner/b10.jpg);
}

#sm-banner h4{
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2{
  margin-left: 50px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span{
  margin-left: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
  background: #481971;
  border: 1px solid #481971;
}


#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}


#banner3 .banner-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2{
  background: url(img/banner/b4.jpg);
}

#banner3 .banner-box3{
  background: url(img/banner/b18.jpg);
}

#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3{
  color: #481971;
  font-weight: 800;
  font-size: 15px;
}

/* PARTE DE OTRAS PÁGINAS */

/* FOOTER */

footer{
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  color: #fff;
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

/* FOOTER */

#copy .copyright{
  padding-left: 30%;
  background: #1a1a1a;
  text-align: center;
  display: flex;
  width: 100%;

}

/*************************************************************************************/
/*********************************************Venta1 PAGE**************************/
/*************************************************************************************/




/*************************************************************************************/
/*********************************************venta2 PAGE**************************/
/*************************************************************************************/


/*************************************************************************************/
/*********************************************camisa PAGE**************************/
/*************************************************************************************/

#page-header {
  background-image: url(/img/about/banner.png);
  width:100%;
  height: 40vh;
  background-size:cover;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  text-align: center;
  flex-direction: column;
}

#page-header h2,
#page-header p{
  color: #fff;
  
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #481971;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* producto simple */

#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h1{
  padding: 40px 0 20px 0;
  color: #481971;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#prodetails .single-pro-details h4{
  
  font-size: 26px;
}

#prodetails .single-pro-details span{
  padding: 40px 0 20px 0;
  line-height: 30px;
  text-align: justify;
}

#prodetails .single-pro-details h3{
  padding: 40px 0 20px 0;
  }




#prodetails .single-pro-details button{
  background: linear-gradient(to right, #481971, #6a5acd);
  color: #fff;
}




/* producto simple */



/*************************************************************************************/
/*********************************CONTACTANOS*****************************************/
/*************************************************************************************/
#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#contact-details .details{
  width:40%;
  background-color: rgba(241, 241, 241, 0.3);
  border: 1px solid #f1f1f1;
  padding: 35px;
}

#contact-details .details span{
  font-size: 12px;
  text-align: justify;
}

#contact-details .details h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
  color: #481971;
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;
  color:#7e35bd;
  
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
 
}

#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
  
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

/*************************************************************************************/
/*********************************CONTACTANOS*****************************************/
/*************************************************************************************/